[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
adafruit-blinka = "*"
adafruit-circuitpython-dht = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
djangorestframework = "*"
setuptools = "*"
gunicorn = "*"
django-node-assets = {editable = true, git = "https://github.com/prplecake/django-node-assets@live"}

[dev-packages]
flake8 = "*"
bandit = "*"

[requires]
python_version = "3.9"
