[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
adafruit-blinka = "*"
adafruit-circuitpython-dht = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
djangorestframework = "*"
setuptools = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
bandit = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
