[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
djangorestframework = "==3.14.0"
celery = "*"
django-cors-headers = "*"
django-extensions = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.11"
