{% load static %}
<input type="button" onclick="btn_power();" value="Power"/>
<input type="button" onclick="btn_temp_up();" value="Temp +"/>
<input type="button" onclick="btn_temp_dwn();" value="Temp -"/>
<br/><p><strong>Fan Speeds</strong></p>
<input type="button" onclick="btn_fan_speed_inc();" value="Fan Speed +"/>
<input type="button" onclick="btn_fan_speed_dec();" value="Fan Speed -"/>
<input type="button" onclick="btn_mode_auto_fan();" value="Auto Fan Speed"/>
<br/>
<p><strong>Modes</strong></p>
<input type="button" onclick="btn_mode_cool();" value="Cool"/>
<input type="button" onclick="btn_mode_fan_only();" value="Fan Only"/>
