* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgray;
  }

  a {
    color: #b985ea;
  }

  .text-muted {
    color: #757575;
  }

  button,
  input[type='button'] {
    background-color: rgb(22 22 18);
    border-color: rgb(28 28 28);
    color: lightgray;
  }
}
